@font-face {
  font-family: 'Learning Curve';
  src: url('learning-curve.ttf') format('truetype');
  font-weight: normal;
}

:root {
  /* Colors */
  --main-bg-color: #fffbe6;
  --main-text-color: #333;
  --main-link-color: #007bff;
  --main-link-color-hover: #0056b3;
  --line-color: #85abfa;

  /* Spacing */
  --font-size: 35px;
  --line-height: 1.2rem;
  --right-margin: 2.5rem;
  --right-gutter: 1rem;
  --left-margin: 1rem;
}

@media (max-width: 768px) {
  :root {
    --right-margin: 2rem;
  }
}

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
/* ol, */
/* ul { */
/*   list-style: none; */
/* } */

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Use system font stack for better performance */
html,
button,
input,
textarea,
select {
  font-family: 'Learning Curve', sans-serif;
  font-optical-sizing: auto;
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
}

/* box sizing rules */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 1rem 0.5rem;
}
main {
  margin: 0 auto;
  max-width: 800px;
  line-height: var(--line-height);
}

.hidden {
  display: none;
}

button {
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 1em;
}
ul li {
  position: relative;
}
ul li:before {
  content: '•';
  position: absolute;
  left: -1em;
  margin-right: 0.5em;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 1.4em;
}

h2 {
  margin-bottom: var(--line-height);
}

/* Stylised like a note pad */
html {
  background-color: #f5f5f5;
}

main {
  min-height: 80vh;
  background-color: var(--main-bg-color);
  background: linear-gradient(
    to bottom,
    #fffbe6,
    #fffbe6 calc(var(--line-height) - 2px),
    #85abfa 2px,
    #85abfa
  );
  /* The rectangle in which to repeat. 
   It can be fully wide in this case */
  background-size: 100% var(--line-height);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: relative;
}

main > header,
main {
  border-top-right-radius: 1rem;
}
main {
  border-bottom-right-radius: 1rem;
}

main > header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 4px;
}
main > header,
main > article {
  padding-left: calc(var(--right-margin) + var(--right-gutter));
  padding-right: var(--right-gutter);
}
main > article {
  padding-top: 2px;
  padding-top: var(--line-height);
  padding-bottom: var(--line-height);
}

main:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  left: var(--right-margin);
  top: 0;
  background-color: #e78587;
  z-index: 1;
}

main > header {
  height: calc((var(--line-height) * 2) - 4px);
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  border-bottom: 2px solid var(--line-color);
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
